


<div class="card">
  <div class="card-title">
      <h3 class="text-center">Aqui se mostraran todos los horarios </h3>
  </div>
</div>


<div class="row"></div>
<form action="/horario/todos-horarios" method="POST">
  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  <button type="submit">Enviar</button>
</form>

</div>