<div class="card">
    <div class="card-body">
        <h1>Acerca de Nosotros</h1>

        <p>
            Esta página tiene como objetivo:</br>
            Ayudar al municipio de Dolores Hidalgo C.I.N., Gto
            con lo que causa el covid 19...etc.
        </p>

    </div>
</div>
</br>


<div class="row">

    <div class="col-sm-6">
        <div class="card">
            
            <div class="card-body">
                <iframe src="videos/zoom.mp4" class="mx-auto">Video</iframe>
                <p class="card-text"> Tutorial cómo crear a una reunión usando Zoom.</p>
            </div>
        </div>
    </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body center">
                    <iframe src="videos/zoom-cliente.mp4" class="mx-auto">Video</iframe>
                    <p class="card-text"> Tutorial cómo entrar a una reunión usando Zoom.</p>
                </div>
            </div>
        </div>
</div>
