<div class="contenedor">
    <!-- Separacion de pantallas divididas -->
    <div class="card">
        <br>
        <div class="div-mov" style="align-content: center; background-color: dodgerblue;width: 90%;height: 100%; 
            margin: auto; border-top-left-radius: 20px; border-top-right-radius: 20px;">
            <br>
            <div style="margin-top: 4px; margin-bottom: 4px;background-color: darkturquoise;border-radius: 20px;">

                <h1 style="text-align: center;font-family: 'Times New Roman', Times, serif; color: ivory;">Apoyo de
                    Control
                    por Contingencia Sanitaria</h1>
            </div>
            <br>
            <div style="background-color: azure; width: 80%; margin: auto;border-radius: 10px;">
                <h3 class="alineacion-center">¿Sabes cómo evitar contagios por Coronavirus?</h3>
                <p class="alineacion-center">
                    Es sencillo solo sigue estas recomendaciones y así ayudaras a mitigar el contagio en nuestra ciudad
                    <br><br>
                <p class="alineacion-center">
                    <b>Primero</b>
                    <br><br>
                    Lávate las manos de manera frecuente con agua y jabón, si no es posible usar jabón usa gel
                    desinfectante.
                    <br><br>
                    <b>Segundo</b>
                    <br><br>
                    Usa cubrebocas cuando necesites salir, así ayudaras a no contagiar y evitas contagiarte.
                    <br><br>
                    <b>Tercero</b>
                    <br><br>
                    No te automediques, si piensas que tiene COVID-19, utiliza nuestro servicio de consultas virtuales.
                </p>
                </p>
                <br>
            </div>
            <br>
            <div style="border-radius: 40px;background-color: azure; width: 60%; margin: auto;">
                <h2 class="alineacion-center">
                    Mapa de contagios del Estado de Guanajuato
                </h2>

            </div>
            <br>
            <div class="div-ali" style="background-color: azure;border-radius: 10px;">
                <img class="img-inicio" src="https://coronavirus.guanajuato.gob.mx/img/mapa82.png">
            </div>
            <br>
        </div>
        <br>
    </div>
    <!--Card section to integrete the Offical Page of Guanajuato State-->
    <br>
    <div class="card">
        <br>
        <div class="div-mov" style="align-content: center; background-color: dodgerblue;width: 90%;height: 100%; margin: auto;
        border-radius: 30px 30px 30px 30px;">

            <br>
            <div style="border-radius: 40px;background-color: azure; width: 60%; margin: auto;">

                <div class="card-header">
                    <h2 class="alineacion-center">
                        Página Oficial del Estado de Guanajuato
                    </h2>
                </div>
            </div>
            <br>
            <div style="background-color: dodgerblue;width: 100%; height: 800px;margin: auto;align-content: center;">
                <iframe src="https://coronavirus.guanajuato.gob.mx" scrolling="yes" frameborder="0" id="iframe"
                    height="100%" class="lateral" style="width: 80%; margin: auto;">
                </iframe>
            </div>

        </div>
        <br>
    </div>
</div>
<br>
</div>