<div class="container">
    <div class="card">
        <button onclick="cargar_mapa()" type="button" class="btn btn-info">Ver mapa</button>
        <div class="card-header text-center ">
            
            <h3>Mapa de contagios </h3>
        </div>
        <div id='gmap_canvas' style='height:550px;width:100%;'></div>
        <div class="card-footer text-center">
            <h3>Los pines de los lugares aquí mostrados son aproximaciones solamente.</h3>
        </div>
    </div>
</div>